.pc-chat.is-nsfw-channel .pc-imageWrapper {
    position: relative;
}


.pc-chat.is-nsfw-channel .pc-imageWrapper img {
    filter: blur(20px);
    position: relative;
}

.pc-chat.is-nsfw-channel .pc-imageWrapper:hover img {
    filter: none;
}

.pc-chat.is-nsfw-channel .pc-imageWrapper::after {
    content: "NSFW";
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #dcddde;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 20px;
    letter-spacing: .5px;
    transform: translate(-50%, -50%);
}

.pc-chat.is-nsfw-channel .pc-imageWrapper:hover::after {
    display: none;
}